//- index.jade
extends ./layout.jade

block content
  .wrapper.nav-collapsed.menu-collapsed
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded.header-navbar(style='margin-bottom: 0px;')
      .container
        .navbar-header(style='margin: 15px auto 5px;')
          img(src='https://smarticoinvestor.com/wp-content/uploads/2018/02/decor.png', style='width:40px;float: left;')
          h1(style='float: left;margin-left: 10px;margin-top: 0px; margin-bottom: 0px;') VideoCoin Dev Net
    .main-panel
      .main-content(style='padding-left: 0px;')
        .content-wrapper(ng-controller='StatsCtrl')
          .row.match-height(ng-cloak)
            .col-xl-6.col-lg-12.col-12
              .card(style='height: 440px;')
                .card-header
                  h4.card-title Topology
                .card-body
                  .card-block
                    div#mynetwork
            .col-xl-6.col-lg-12.col-12
              .card.node-details-table#default-node-pane(style='height: 440px;display:block;border: dashed 5px #ccc;')
                .card-header
                  h4.card-title.text-center {{node.info.name}}
                .card-body
                  .card-block
                    span#default-node-info(style='font-size: 200px; text-align: center; display: block; color: #99999930; margin-top: 0px; font-style: italic;')
                      i.fa.fa-plus-circle
                    span(style='font-size: 20px; text-align: center; display: block; color: #99999973; margin-top: 20px; font-style: italic;') {{ 'Click on the nodes under topology to load the node information' }}
              .card.node-details-table(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="{{ node.stats | mainClass : bestBlock }}", id="node_{{node.id}}", style='height: 440px;')
                .card-header
                  h4.card-title.text-center {{node.info.name}}
                  span(id="node_close_{{node.id}}", style='padding:5px;position:absolute;cursor:pointer;top:25px;right:25px;font-size:20px;color:#C00000')
                    i.fa.fa-times
                .card-body
                  .card-block
                    table.table
                      tbody
                        tr
                          th(scope='row') {{ 'Node name: ' }}
                          td.nodeInfo(rel="{{node.id}}")
                            span.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
                            //- span.small &nbsp;({{node.info.ip}})
                            a.small(href="https://github.com/ethereum/wiki/wiki/Network-Status#updating", target="_blank", data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="Netstats client needs update.<br>Click this icon for instructions.", class="{{ node.info | nodeClientClass : currentApiVersion }}")
                              i.icon-warning-o
                        tr
                          th(scope='row') {{ 'Node latency: ' }}
                          td(class="{{ node.readable.latencyClass }}")
                            span.small {{ node.readable.latency }}
                        tr
                          th(scope='row') {{ 'Peers: ' }}
                          td(class="{{ node.stats.peers | peerClass : node.stats.active }}", style="padding-left: 11px;") {{node.stats.peers}}
                        tr
                          th(scope='row') {{ 'Pending transactions: ' }}
                          td(style="padding-left: 15px;") {{node.stats.pending}}
                        tr
                          th(scope='row') {{ 'Last block: ' }}
                          td(class="{{ node.stats | blockClass : bestBlock }}")
                            span(class="{{ node.readable.forkMessage ? node.readable.forkClass : '' }}") {{'#'}}{{ node.stats.block.number | number }}
                            //- a.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{ node.readable.forkMessage }}", class="{{ node.readable.forkClass }}")
                              i.icon-warning-o
                        tr
                          th(scope='row')
                          td(class="{{ node.stats | blockClass : bestBlock }}")
                            span.small {{node.stats.block.hash | hashFilter}}
                        tr
                          th(scope='row') {{ 'Total difficulty: ' }}
                          td(class="{{ node.stats | blockClass : bestBlock }}")
                            span.small {{node.stats.block.totalDifficulty | number}}
                        tr
                          th(scope='row') {{ 'Block transactions: ' }}
                          td(style="padding-left: 14px;") {{node.stats.block.transactions.length || 0}}
                        tr
                          th(scope='row') {{ 'Last block time: ' }}
                          td(class="{{ node.stats.block.received | timeClass : node.stats.active }}") {{node.stats.block.received | blockTimeFilter }}
                        tr
                          th(scope='row') {{ 'Propagation time: ' }}
                          td(class="{{ node.stats | propagationTimeClass : bestBlock }}")
                            div.propagationBox
                            span {{node.stats.block.propagation | blockPropagationFilter}}
                        tr
                          th(scope='row') {{ 'Average propagation time: ' }}
                          td(class="{{ node.stats | propagationNodeAvgTimeClass : bestBlock }}") {{ node.stats | blockPropagationAvgFilter : bestBlock }}
                        tr
                          th(scope='row') {{ 'Up-time: ' }}
                          td(class="{{ node.stats.uptime | upTimeClass : node.stats.active }}") {{ node.stats.uptime | upTimeFilter }}
          .row#network-stats-panel(ng-cloak)
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Best Block
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{'#'}}{{ bestBlock | number}}
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Last Block
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{ lastBlock | blockTimeFilter }}
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Avg Block Time
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{ avgBlockTime | avgTimeFilter }}
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Avg Hashrate
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{ avgBlockTime | avgTimeFilter }}
            .col-4.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Block Time
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;')
                  sparkchart.big-details.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s")
          .row(ng-cloak)
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Watt Limit
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{ bestStats.block.gasLimit }} ω
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Page Latency
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{latency}} ms
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Uptime
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{ upTimeTotal | upTimeFilter }}
            .col-2.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Active Nodes
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;') {{nodesActive}}/{{nodesTotal}}
            .col-4.pr-0
              .card(style='height: 200px;')
                .card-header.text-center
                  h4.card-title Block Propagation
                .card-body(style='font-size: 30px; text-align: center; margin-top: 30px;')
                  histogram.big-details.d3-blockpropagation(data="blockPropagationChart")

          .row.match-height(ng-cloak)
            .col-xl-6.col-lg-12.col-12
              .card(style='height: 275px;')
                .card-header
                  h4.card-title Miner Rewards
                .card-body
                  table.table(style='margin-top: 10px;width: 50%;margin-left: auto;margin-right: auto;')
                    tbody
                      tr(ng-repeat='node in nodes')
                        th.no-border(scope='row', style='font-size: 15px;text-align: center;') {{ node.info.name }}
                        td.no-border(style='font-size: 30px;padding: 5px;vertical-align: middle;')
                          | {{ node.info.balance_latest }}
                          span.small.text-italic &nbsp; VID
            .col-xl-6.col-lg-12.col-12
              .card(style='height: 275px;max-height: 275px;overflow-y: scroll;')
                .card-header
                  h4.card-title Transactions
                .card-body
                  table.table
                    thead
                      tr(style='border-bottom: 0px;')
                        th(style='border-bottom: solid 1px #cfcfcf;padding: 8px;text-align: center;') Transaction
                    tbody
                      tr(style='border-bottom: 0px;', ng-repeat='transaction in nodes[0].stats.block.transactions')
                        td(style='border:none !important; padding: 8px !important;text-align: center; overflow: hidden; text-overflow: ellipsis;') {{ transaction }}
