//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title VideoCoin Dev Net
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/fonts/feather/style.min.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/fonts/simple-line-icons/style.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/fonts/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/vendors/css/perfect-scrollbar.min.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/vendors/css/prism.min.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/vendors/css/chartist.min.css')
    link(rel='stylesheet', href='https://pixinvent.com/apex-angular-4-bootstrap-admin-template/html-demo-3/app-assets/css/app.css')
    link(rel='stylesheet', href='/css/netstats.min.css')
    link(rel='stylesheet', href='http://visjs.org/dist/vis-network.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    style(type="text/css") #sticky-panel {display:none;height: 200px; width: 400px; position: fixed; z-index: 99; border-bottom-right-radius: 5px; background-color: #ffffff; box-shadow: 0px 0px 20px 0 #0000006b;} .node-details-table {display:none;} .node-details-table > table {margin-top: 20px;margin-left: auto;margin-right: auto; background: #2b4f48; padding: 10px; border-radius: 5px; color: #fff;} .node-details-table table th, .node-details-table table td {padding: 3px 5px; } .node-details-table > table th {color: #c8f4ff; text-align: right; padding-right: 10px;} #default-node-info:hover {cursor:pointer; color: #999999c4 !important;} #mynetwork { width: 100%; height: 365px; }

  body.2-columns(data-col='2-columns', style='min-width: 100%;color: #000; background-color: #f5f7fa;')
    block content

    script(src="/js/netstats.min.js")
    script(src="http://visjs.org/dist/vis.js")
    script.
      var nodes = new vis.DataSet([
        {id: 1, label: 'Video-Coin-Node-0', group: 'miner'},
        {id: 2, label: 'Video-Coin-Node-1', group: 'miner'},
        {id: 3, label: 'Video-Coin-Node-2', group: 'miner'},
        {id: 4, label: 'Video-Coin-Node-3', group: 'miner'},
        {id: 5, label: 'Video-Coin-Node-4', group: 'miner'}
      ]);
      var edges = new vis.DataSet([
        {from: 1, to: 2, dashes:true},
        {from: 3, to: 4, dashes:[5,5,3,3]},
        {from: 4, to: 1, dashes:[2,2,10,10]},
        {from: 5, to: 1, dashes:true},
        {from: 2, to: 4, dashes:[5,5]},
        {from: 5, to: 4, dashes:[5,5]},
        {from: 3, to: 5, dashes:[5,5,3,3]}
      ]);
      var container = document.getElementById('mynetwork');
      var container2 = document.getElementById('sticky-panel');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot',
          size: 30,
          font: {
            size: 14,
            color: '#343a40'
          },
          borderWidth: 0
        },
        edges: {
          width: 1,
          color: '#444444'
        },
        groups: {
          network: {
            shape: 'icon',
            icon: {
              face: 'FontAwesome',
              code: '\uf0e8',
              size: 30,
              color: 'orange'
            }
          },
          miner: {
            shape: 'circularImage',
            image: 'https://smarticoinvestor.com/wp-content/uploads/2018/02/decor.png',
            size: 30,
            borderWidth: 0
          }
        }
      };
      var options2 = {
        nodes: {
          shape: 'dot',
          size: 10,
          font: {
            size: 14,
            color: '#343a40'
          },
          borderWidth: 0
        },
        edges: {
          width: 1,
          color: '#444444'
        },
        groups: {
          network: {
            shape: 'icon',
            icon: {
              face: 'FontAwesome',
              code: '\uf0e8',
              size: 30,
              color: 'orange'
            }
          },
          miner: {
            shape: 'circularImage',
            image: 'https://smarticoinvestor.com/wp-content/uploads/2018/02/decor.png',
            size: 10,
            borderWidth: 0
          }
        }
      };
      var onResetNode = function() {
        var divsToHide = document.getElementsByClassName("node-details-table");
        for(var i = 0; i < divsToHide.length; i++){
          divsToHide[i].style.display = "none";
        }
        document.getElementById("default-node-pane").style.display="block";
      }
      var network = new vis.Network(container, data, options);
      network.on("click", function (params) {
        if(params.nodes.length && document.getElementById('node_videoCoinNode' + (parseInt(params.nodes[0]) - 1)) != null) {
          var divsToHide = document.getElementsByClassName("node-details-table");
          for(var i = 0; i < divsToHide.length; i++){
              divsToHide[i].style.display = "none";
          }
          document.getElementById('node_videoCoinNode' + (parseInt(params.nodes[0]) - 1)).style.display = "block";
          document.getElementById("node_close_videoCoinNode" + (parseInt(params.nodes[0]) - 1)).onclick = onResetNode;
        }
        else {
          alert('This node is not active.');
        }
      });

      document.getElementById('default-node-info').onclick = function() {
        var divsToHide = document.getElementsByClassName("node-details-table");
        for(var i = 0; i < divsToHide.length; i++){
            divsToHide[i].style.display = "none";
        }
        document.getElementById('node_videoCoinNode0').style.display = "block";
        document.getElementById("node_close_videoCoinNode0").onclick = onResetNode;
      }

      // if($(window).scrollTop() + $(window).height() == $(document).height()) {
      //   setTimeout(function(){
      //     window.location.reload(1);
      //   }, 15000);
      // }
      // $(window).scroll(function() {
      //   if($(window).scrollTop() + $(window).height() == $(document).height()) {
      //     setTimeout(function(){
      //       window.location.reload(1);
      //     }, 15000);
      //   }
      // });
